# Node / tooling
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds (por si luego usas bundler)
dist/
build/

# Archivos de entorno
.env
.env.*.local

# SO - Windows / macOS
Thumbs.db
.DS_Store

# Editor
.vscode/
.idea/
*.code-workspace

# Otros
*.log
